<head>
    <meta charset="utf-8">
    <title>{{ title }} - pyQstat</title>
    <meta name="description" content="A small Python-based web app to display Sun Grid Engine (and forks) statistics.">
    <meta name="author" content="Nathan Vaughn">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#212529">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">

    <meta property="og:title" content="{{ title }} - pyQstat" />
    <meta property="og:description" content="A small Python-based web app to display Sun Grid Engine (and forks) statistics." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:image" content="{{ url_for('static', filename='img/icon.png') }}" />
    <meta property="og:site_name" content="pyQstat">

    {% include 'partials/stylesheets.html' %}
</head>