<!doctype html>
<html lang="en">

{% include "partials/head.html" %}

<body>
    {% set pages = [
        ("hosts.all", "Hosts"),
        ("jobs.all", "Jobs"),
        ("queues.all", "Queues")
    ] -%}

    {% include "partials/navbar.html" %}

    <main role="main" class="container">
        <div class="card shadow">
            <div class="card-body">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </main>

    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>

</html>